.error {
    color: red;
    text-align: justify;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.regNumbersList {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2% 0 0 0;
    grid-column-gap: 10px;
}

.regNumbersList div {
    border: solid black 2px ;
    border-radius: 8px;
    padding: 0.5%;
    margin: 0 0px 10px 0;
    text-align: center;
    width: auto;
    background: yellow 100%;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}